body{
    background-color: #f9f9f9 ;
    line-height: 1.4;
    margin: 0;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.2);
}

.logo-text{
    text-decoration: none  !important;
    letter-spacing: 2px;
    font-size: 35px !important;
}  

.list{
    list-style-type: none;
}

.list-text{
    color: black;
    font-weight: 600 !important;
    text-transform: none;
    transition: all 0.5 !important;

}

.list-text:hover{
    color: orangered !important;
    font-weight: bold !important;
    text-decoration: underline; 
    font-size: 22px !important;
    transition: all 0.5s ease !important;
}

.background{
    /* background-color: #023a58; */
    background-image: url("https://img.freepik.com/free-vector/luxury-old-library-interior-night-dark-empty-room-reading-with-books-wooden-shelves_107791-3025.jpg?w=2000");
    color: white !important;
    background-size: cover;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-register{
    padding: 10px 25px;
    background-color: rgb(72, 178, 214);
    font-size: 18px;
    color: white;
    border: none;
    font-weight: 600;   
    border-radius: 50px;
}

.title-text{
    font-size: 60px;
}

.sponsor{
    padding: 25px;
    display: flex;
    justify-content:space-around !important;
}

.background-sponsor{
    background-color: #e3e3e3;
}

.col-item{
    width: 180px !important;
}

.garis{
    border-bottom: 3px solid blue;
    transition: all 0.5s ;

}

.garis:hover{
    border-bottom: 7px solid blue;
    transition: all 0.5s;
    border-radius: 5px;
}

.footer{
    background-color: #e3e3e3;
}

.grid{
    padding: 20px 100px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 215px;
}

.btn-sm{
    padding: 5px 15px !important;
    font-size: 15px !important;
    text-transform: uppercase !important;
    transition: all 0.2s ;
}

.btn-sm:hover{
    padding: 5px 15px !important;
    font-size: 15px !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    transition: all 0.2s ;
}